.income-content {
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    gap: 1rem;
    background: #FCF6F9;
    border: 2px solid #FFFFFF;
    box-shadow: 0px 1px 15px rgba(0, 0, 0, 0.06);
    border-radius: 20px;
    padding: 1rem;
    margin-bottom: 1rem;
    /* display: flex;
    align-items: center;
    gap: 1rem; */
    width: 100%;
    color: #141430;
}

.income-content .item-icon {
    width: 80px;
    height: 80px;
    border-radius: 20px;
    background: #F5F5F5;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #FFFFFF;
    font-size: 2.6rem;
}

.item-content {
    /* display: flex;
    align-items: center;
    gap: 1rem; */
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: .2rem;
}

.item-content h5 {
    font-size: 1.3rem;
    padding-left: 2rem;
    position: relative;
}

.item-content > h5::after {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: .8rem;
    height: .8rem;
    border-radius: 50%;
    background: rgb(58, 148, 58);
}



.inner-content {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.inner-content .text {
    display: flex;
    align-items: center;
    gap: 1rem;
}