.main-con {
    max-width: 100%;
    padding: 10px 50px;
}

.header-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-title {
    display: flex;
    gap: .5rem;
    align-items: center;
}

.btn {
    padding: 8px 20px;
    cursor: pointer;
    background-color: #2D2D70;
    color: #fff;
    border-radius: 5px;
}